= content_for :page_js do
  %script{src: "https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
  / %script{src: "http://code.jquery.com/jquery-migrate-1.2.1.js", type: "text/javascript"}
  / %script{src: "http://yandex.st/highlightjs/6.2/highlight.min.js", type: "text/javascript"}
  = javascript_include_tag 'jquery.dynotable.js'
  %script{src: "http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js", type: "text/javascript"}
    
  :javascript
    $(document).ready(function(){
      $('#drugs_table').dynoTable();

      $.fn.editable.defaults.mode = 'inline';
      $.fn.editable.defaults.defaultValue = '...';
      $.fn.editable.defaults.emptytext = '...';
      $('[data-editable]').editable();
    });
  
= content_for :page_css do
  %link{href: "http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css", rel: "stylesheet"}
    
.row
  .span5
    %p.bold Toronto General Hospital
    %p.bold Department of Pharmacy
    %p.bold Medication List
  .span7
    %p.bold
      Name:
      %span{data: {editable: true, type: 'text', inputclass: 'input-long'}}=''
    %p.bold
      Date:
      %span{data: {editable: true, type: 'date', inputclass: 'input-long'}}=''
    %p.bold
      Pharmacist:
      %span{data: {editable: true, type: 'text', inputclass: 'input-long'}}=''
.row
  .span12
    %p
      %strong Medication Allergies:
      %span{data: {editable: true, type: 'textarea', inputclass: 'input-large'}} no known drug allergies
  .span12
    %table#drugs_table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th
          %th DRUG
          %th INSTRUCTIONS
          %th PURPOSEP
          %th AM
          %th NOON
          %th SUPPER
          %th BED-TIME
          %th
          %th
      %tbody
        = render partial: 'drug_row',
                 locals: {:generic_name=>'Cyclosporine',
                          :strength_form=>'25 mg, 100 mg capsules',
                          :brand=>'Neoral',
                          :instructions=>['Take  mg twice daily, 12 hours apart'],
                          :purpose=>'Anti-Rejection',
                          :am=>{:check=>'x',:instruction=>'9am'},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'x',:instruction=>'9pm'} }

        = render partial: 'drug_row',
                 locals: {:generic_name=>'Tacrolimus',
                          :strength_form=>'1 mg, 5 mg capsules',
                          :brand=>'Prograf',
                          :instructions=>['Take 1 mg twice daily, 12 hours apart.'],
                          :purpose=>'Anti-Rejection', :am=>{:check=>'x',:instruction=>'9am'},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'x',:instruction=>'9pm'} }

        = render partial: 'drug_row',
                 locals: {:generic_name=>'Prednisone',
                          :strength_form=>'5 mg tablets',
                          :brand=>'',
                          :instructions=>['Take  mg ( tablets) once daily with food'],
                          :purpose=>'Anti-Rejection',
                          :am=>{:check=>'x',:instruction=>''},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'',:instruction=>''} }
        = render partial: 'drug_row',
                 locals: {:generic_name=>'Mycophenolate Mofetil',
                          :strength_form=>'250 mg capsules',
                          :brand=>'Cellcept',
                          :instructions=>['Take 1000 mg','(4 capsules) twice daily'],
                          :purpose=>'Anti-Rejection',
                          :am=>{:check=>'x',:instruction=>'9am'},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'x',:instruction=>'9pm'} }
        = render partial: 'drug_row',
                 locals: {:generic_name=>'Mycophenolate Sodium',
                          :strength_form=>'180 mg tablets',
                          :brand=>'Myfortic',
                          :instructions=>['Take 360 mg (2 tablets) twice daily'],
                          :purpose=>'Anti-Rejection',
                          :am=>{:check=>'x',:instruction=>'9am'},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'x',:instruction=>'9pm'} }
        = render partial: 'drug_row',
                 locals: {:generic_name=>'Sirolimus',
                          :strength_form=>'1mg tablets',
                          :brand=>'Rapamune',
                          :instructions=>['Take 2mg (2 tablets) once daily.','Do not take within 4 hrs of Tacrolimus dose.'],
                          :purpose=>'Anti-Rejection',
                          :am=>{:check=>'',:instruction=>''},
                          :noon=>{:check=>'x',:instruction=>'1pm'},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'',:instruction=>''} }
        = render partial: 'drug_row',
                 locals: {:generic_name=>'Pantoprazole',
                          :strength_form=>'40 mg tablets',
                          :brand=>'Pantoloc',
                          :instructions=>['Take 40 mg (1 tablet) once daily'],
                          :purpose=>'Prevents stomach ulcers',
                          :am=>{:check=>'x',:instruction=>''},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'',:instruction=>''} }
        = render partial: 'drug_row',
                 locals: {:generic_name=>'Omeprazole',
                          :strength_form=>'20 mg tablets',
                          :brand=>'Losec',
                          :instructions=>['Take 20mg (1 tablet) twice daily'],
                          :purpose=>'Prevents stomach ulcers',
                          :am=>{:check=>'x',:instruction=>''},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'x',:instruction=>''} }
        = render partial: 'drug_row',
                 locals: {:generic_name=>'Pentamidine',
                          :strength_form=>'inhalation',
                          :brand=>'',
                          :instructions=>['Inhale 300mg once a month in clinic.', 'Next dose: week of'],
                          :purpose=>'Prevents PCP pneumonia',
                          :am=>{:check=>'',:instruction=>''},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'',:instruction=>''} }
        = render partial: 'drug_row',
                 locals: {:generic_name=>'Septra Single Strength tablets',
                          :strength_form=>'(Sulfatrim SS OR Sulfameth/Trimeth 400mg/80mg)',
                          :brand=>'',
                          :instructions=>['Take 1 tablet once daily'],
                          :purpose=>'Prevents PCP pneumonia',
                          :am=>{:check=>'x',:instruction=>''},
                          :noon=>{:check=>'',:instruction=>''},
                          :supper=>{:check=>'',:instruction=>''},
                          :bed_time=>{:check=>'',:instruction=>''} }
        
    %span12
      %p{data: {editable: true, type: 'textarea', inputclass: 'input-large'}} You may use acetaminophen (Tylenol) for pain. Please do not use ibuprofen (Advil, Motrin) or naproxen (Aleve).
            




