= content_for :page_js do
  %script{src: "https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
  / %script{src: "http://code.jquery.com/jquery-migrate-1.2.1.js", type: "text/javascript"}
  / %script{src: "http://yandex.st/highlightjs/6.2/highlight.min.js", type: "text/javascript"}
  = javascript_include_tag 'jquery.dynotable.js'

  :javascript
    $(document).ready(function(){
      $('#drugs_table').dynoTable();
    });
  

.row
  .span5
    %p
      %strong Toronto General Hospital
    %p
      %strong Department of Pharmacy
    %p
      %strong Medication List
  .span7
    %p
      %strong Name:
    %p
      %strong Date:
    %p
      %strong Pharmacist:
.row
  .span12
    %p
      %strong Medication Allergies:
      no known drug allergies
  .span12
    %table#drugs_table.table.table-bordered.table-hover
      %thead
        %tr
          %th
          %th DRUG
          %th INSTRUCTIONS
          %th PURPOSEP
          %th AM
          %th NOON
          %th SUPPER
          %th BED-TIME
      %tbody
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Cyclosporine 
            %p 25 mg, 100 mg capsules 
            %p
              %strong (Neoral)
          %td
            %p Take  mg twice daily, 12 hours apart
          %td
            %p Anti-Rejection
          %td
            %p x
            %p 9am
          %td
          %td
          %td
            %p x
            %p 9pm
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Tacrolimus 
            %p 1 mg, 5 mg capsules 
            %p
              %strong (Prograf)
          %td
            %p Take  mg twice daily, 12 hours apart
          %td
            %p Anti-Rejection
          %td
            %p x
            %p 9am
          %td
          %td
          %td
            %p x
            %p 9pm
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Prednisone
            %p 5 mg tablets
          %td
            %p Take  mg ( tablets) once daily with food
          %td
            %p Anti-Rejection
          %td
            %p X
          %td
          %td
          %td
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Mycophenolate Mofetil
            %p 250 mg capsules
            %p
              %strong (Cellcept) 
          %td      
            %p Take 1000 mg (4 capsules) twice daily 
          %td
            %p Anti-Rejection
          %td
            %p X
            %p 9am
          %td
          %td
          %td
            %p X
            %p 9pm
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Mycophenolate Sodium
            %p 180 mg tablets
            %p
              %strong (Myfortic)
          %td
            %p Take 360 mg (2 tablets) twice daily
          %td
            %p Anti-Rejection
          %td
            %p X
            %p 9am
          %td
          %td
          %td
            %p X
            %p 9pm
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Sirolimus
            %p 1mg tablets
            %p
              %strong (Rapamune)
          %td
            %p Take 2mg (2 tablets) once daily.
            %p
              %strong Do not take within 4 hrs of Tacrolimus dose.
          %td
            %p Anti-Rejection
          %td
          %td
            %p X
            %p 1pm
          %td
          %td
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Pantoprazole
            %p 40 mg tablets
            %p
              %strong (Pantoloc)
          %td
            %p Take 40 mg (1 tablet) once daily
          %td
            %p Prevents stomach ulcers
          %td
            %p X
          %td
          %td
          %td
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Omeprazole
            %p 20 mg tablets
            %p
              %strong (Losec)
          %td
            %p Take 20mg (1 tablet) twice daily
          %td
            %p Prevents stomach ulcers
          %td
            %p X
          %td
          %td
          %td
            %p X
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p Pentamidine inhalation
          %td
            %p Inhale 300mg once a month in clinic.
            %p Next dose: week of
          %td
            %p Prevents PCP pneumonia
          %td
          %td
          %td
          %td
        %tr
          %td.dyno-action
            = image_tag 'drag.png', :class => 'drag-handle', :alt =>  'click and drag to rearrange'
          %td
            %p
              %strong Septra Single Strength tablets
            %p (Sulfatrim SS OR Sulfameth/Trimeth 400mg/80mg)
          %td
            %p Take 1 tablet once daily
          %td
            %p Prevents PCP pneumonia
          %td
            %p X
          %td
          %td
          %td

    %span12
      %p You may use acetaminophen (Tylenol) for pain. Please do not use ibuprofen (Advil, Motrin) or naproxen (Aleve).
            




