.document{class: "#{@font_size}"}
  .row-fluid{style: 'margin-bottom: 10px;'}
    = link_to "Close Preview", edit_prescription_for_patient_url(@patient), class: 'btn btn-primary pull-right'
  .row-fluid.x-resizeable
    .span4
      %p.bold Toronto General Hospital
      %p.bold Department of Pharmacy
      %p.bold Medication List
    .span4.pull-right
      %p
        %strong Patient Name:
        %span= @patient.last_name + ", " + @patient.first_name
      %p
        %strong Date:
        %span= Date.today
      %p
        %strong Pharmacist Name:
        %span= current_pharmacist.last_name + ", " + current_pharmacist.first_name        
      %p
        %strong Physician Name:
        %span= @prescription.physician
    .row-fluid.x-resizeable
      .span12
        %p
          %strong Medication Allergies:
          %span= @prescription.alergies

      .span12
        %table.table.table-bordered.table-hover.table-condensed
          %thead
            %tr
              %th DRUG
              %th INSTRUCTIONS
              %th PURPOSE
              %th AM
              %th NOON
              %th SUPPER
              %th BED-TIME
          %tbody.drugs
            - @prescription.drugs.order('order_no ASC').each do |drug|
              = render partial: 'pdf_drug_row', locals: { drug: drug }

      .span12
        %p= @prescription.note
