.row
  .span12
    %h1 Template List

  .span12
    %table.table.table-striped
      %tr.column-header
        %th Name
        %th Total Drugs
        %th Created At
        %th Last Updated At
        %th Program
        %th
      - @templates.each do |template|
        %tr{class: cycle('odd', 'even')}
          %td= template.name
          %td= template.drugs.length
          %td= template.created_at
          %td= template.updated_at
          %td= template.program
          %td
            =# link_to 'Show', template, class: 'btn btn-mini btn-info'
            = link_to 'Edit', edit_template_path(template), class: 'btn btn-mini btn-primary'
            = link_to 'Destroy', template, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'

    %br

    = link_to 'New Template', new_template_path, class: 'btn btn-success'
