%tr{data: {drug_id: "#{drug.id}", order_no: "#{drug.order_no || index}", empty_space: "#{drug.empty_space}"}}
  %td.dyno-action
    = image_tag 'drag.png', class: 'drag-handle', alt: 'click and drag to rearrange', title: 'Move this drug up/down'
  %td
    %p{data: {editable: true, type: 'text', inputclass: 'input-medium',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'generic_name', initval: "#{drug.generic_name}"}}= drug.generic_name
    %p{data: {editable: true, type: 'text', inputclass: 'input-medium',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'strength', initval: "#{drug.strength}"}}= drug.strength
    %p.bold{data: {editable: true, type: 'text', inputclass: 'input-medium',
                   resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
                   name: 'brand_name', initval: "#{drug.brand_name}"}}= drug.brand_name.blank? ? '':"(#{drug.brand_name})"
  %td
    - if drug.instructions.blank?
      %p{data: {editable: true, type: 'text', inputclass: 'input-long',
                resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
                nested_2: 'instructions', nnid: "new", name: '_name', initval: "#{''}"}}=''
    - else
      - drug.instructions.each do |ins|
        %p{data: {editable: true, type: 'text', inputclass: 'input-long',
                resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
                nested_2: 'instructions', nnid: "#{ins.id}", name: '_name', initval: "#{ins.line}"}}=ins.line
  %td
    %p{data: {editable: true, type: 'text', inputclass: 'input-medium',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'purpose', initval: "#{drug.purpose}"}}= drug.purpose
  %td
    %p{data: {editable: true, type: 'text', inputclass: 'input-short',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'am_check', initval: "#{drug.am_check}"}}= drug.am_check
    %p{data: {editable: true, type: 'text', inputclass: 'input-short',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'am_time', initval: "#{drug.am_time}"}}= drug.am_time
  %td
    %p{data: {editable: true, type: 'text', inputclass: 'input-short',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'noon_check', initval: "#{drug.noon_check}"}}= drug.noon_check
    %p{data: {editable: true, type: 'text', inputclass: 'input-short',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'noon_time', initval: "#{drug.noon_time}"}}= drug.noon_time
  %td
    %p{data: {editable: true, type: 'text', inputclass: 'input-short',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'supper_check', initval: "#{drug.supper_check}"}}= drug.supper_check
    %p{data: {editable: true, type: 'text', inputclass: 'input-short',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'supper_time', initval: "#{drug.supper_time}"}}= drug.supper_time
  %td
    %p{data: {editable: true, type: 'text', inputclass: 'input-short',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'bedtime_check', initval: "#{drug.bedtime_check}"}}= drug.bedtime_check
    %p{data: {editable: true, type: 'text', inputclass: 'input-short',
              resource: 'prescription', nested: 'drugs', nid: "#{drug.id}",
              name: 'bedtime_time', initval: "#{drug.bedtime_time}"}}= drug.bedtime_time
  %td.dyno-action
    = image_tag 'clone.png', :class => 'row-cloner', :alt => 'Clone Row', :title => 'Add new drug'
  %td.dyno-action
    = image_tag 'remove.png', :class => 'row-remover', :alt => 'Remove Row', :title => 'Remove this drug'
  %td.dyno-action
    - if drug.empty_space?
      = image_tag 'remove-space.png', :class => 'row-spacer', :alt => 'Remove extra space', :title => 'Remove extra space'
    - else
      = image_tag 'add-space.png', :class => 'row-spacer', :alt => 'Add extra space', :title => 'Add extra space'
