= form_for @patient do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patient.errors.count, "error")} prohibited this patient from being saved:"
      %ul
        - @patient.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .clearfix
  .field
    = f.label :mrn, 'MRN'
    = f.text_field :mrn
  .field
    = f.label :date_of_birth
    .input-append.date
      = f.text_field :date_of_birth, data: {behaviour: 'datepicker'}
      %span.add-on
        %i.icon-th
  .clearfix
  .field
    = f.label :program
    = f.text_field :program
  .field
    = f.label :admission_date
    .input-append.date
      = f.text_field :admission_date, data: {behaviour: 'datepicker'}
      %span.add-on
        %i.icon-th
  .clearfix
  /
    .field
      = f.label :discharge_date
      = f.datetime_select :discharge_date
    .field
      = f.label :pharmacist_id
      = f.number_field :pharmacist_id
  .clearfix
  .actions
    = f.submit 'Save'
