- content_for :page_js do
  -# %script{src: "https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
  -# %script{src: "http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js", type: "text/javascript"}
  = javascript_include_tag 'jquery.dynotable.js'
  = javascript_include_tag 'prescription_template.js'
  = javascript_include_tag 'drugs_autocomplete.js'

  :javascript
    var drugs_data = [
                   {
                       'label': '5-aminosalicylic acid',
                       'value': '5-aminosalicylic acid [5-ASA]',
                       'ottrn': '5-aminosalicylic acid',
                       'ufn': '5-aminosalicylic acid [5-ASA]',
                       'strength': '400 mg Tablets',
                       'brand': 'Asacol',
                       'instruction': 'Take 400 mg (1 tablets) twice daily ',
                       'purpose': 'For ulcerative colitis',
                       'am_check': 'x',
                       'am_time': '',
                       'noon_check': '',
                       'noon_time': '',
                       'supper_check': '',
                       'supper_time': '',
                       'bedtime_check': 'x',
                       'bedtime_time': ''
                   },
                   {
                       'label': 'Acetaminophen',
                       'value': 'acetaminophen',
                       'ottrn': 'Acetaminophen',
                       'ufn': 'acetaminophen',
                       'strength': '325 mg tablets',
                       'brand': 'Tylenol',
                       'instruction': 'Take 325-650mg (1-2 tablets) every 4-6 hours as needed',
                       'purpose': 'For pain and fever',
                       'am_check': '',
                       'am_time': '',
                       'noon_check': '',
                       'noon_time': '',
                       'supper_check': '',
                       'supper_time': '',
                       'bedtime_check': '',
                       'bedtime_time': ''
                   },
                   {
                       'label': 'acetaminophen',
                       'value': 'acetaminophen',
                       'ottrn': 'Acetaminophen',
                       'ufn': 'acetaminophen',
                       'strength': '500 mg tablets',
                       'brand': 'Tylenol extra-strength',
                       'instruction': 'Take 1000mg ( 2 tablets) every 6 hours as needed',
                       'purpose': 'For pain and fever',
                       'am_check': '',
                       'am_time': '',
                       'noon_check': '',
                       'noon_time': '',
                       'supper_check': '',
                       'supper_time': '',
                       'bedtime_check': '',
                       'bedtime_time': ''
                   }    
                 ];

    $(document).ready(function(){
       $('#drugs_table').dynoTable();
        
       $.fn.editable.defaults.mode = 'inline';
       $.fn.editable.defaults.defaultValue = '';
       $.fn.editable.defaults.emptytext = '...';


       $('[data-editable]').each(function() {
                               var data_name = $(this).attr('data-name');
                               if( data_name == 'generic_name' ||
                                   data_name == 'strength' ||
                                   data_name == 'brand_name' ) {
                                     $(this).on('shown', function(e, editable) {
                                       console.log("in here");
                                       console.log($(this));
                                       console.log($(this).next().children().find('input:first'));
                                       $(this).next().children().find('input:first').autocomplete({
                                         appentTo: $(this),
                                         source: drugs_data
                                       });
                                     });
                               }
                             });
       $('[data-editable]').editable();
    
       if($.cookie('TEXT_SIZE')) {
         $('body').addClass($.cookie('TEXT_SIZE')); 
       }
       $('.resizer a').click(function() {
         var textSize = $(this).parent().attr('class');
         $('body').removeClass('small medium large').addClass(textSize);
         $.cookie('TEXT_SIZE',textSize, { path: '/', expires: 10000 });
         return false;
       });
    });

= content_for :page_css do
  -# %link{href: "http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css", rel: "stylesheet"}
  = stylesheet_link_tag 'bootstrap-editable.css'

= nested_form_for @prescription, { onsubmit: "return savePrescription();"} do |f|
  .row.x-resizeable
    .span5
      %p.bold Toronto General Hospital
      %p.bold Department of Pharmacy
      %p.bold Medication List
    .span7
      %p.bold
        Name:
        %span{data: {editable: true, type: 'text', inputclass: 'input-medium',
                     resource: 'patient', name: 'last_name', url: "/patients/#{@patient.id}"}}= @patient.last_name
        %span= ", "
        %span{data: {editable: true, type: 'text', inputclass: 'input-medium',
                     resource: 'patient', name: 'first_name', url: "/patients/#{@patient.id}"}}= @patient.first_name        
      %p.bold
        Date:
        %span{data: {editable: true, type: 'date', inputclass: 'input-medium'}}= Date.today
      %p.bold
        Pharmacist:
        %span{data: {editable: true, type: 'text', inputclass: 'input-medium',
                     resource: 'pharmacist', name: 'last_name', url: "/pharmacists/#{current_pharmacist.id}"}}= current_pharmacist.last_name
        %span= ", "
        %span{data: {editable: true, type: 'text', inputclass: 'input-medium',
                     resource: 'pharmacist', name: 'first_name', url: "/pharmacists/#{@patient.id}"}}= current_pharmacist.first_name        
      %p.bold
        Physician:
        %span{data: {editable: true, type: 'text', inputclass: 'input-medium',
                     resource: 'prescription', name: 'physician', url: "/prescriptions/#{@prescription.id}"}}= @prescription.physician
  .row.x-resizeable
    .span12
      %p
        %strong Medication Allergies:
        %span{data: {editable: true, type: 'text', inputclass: 'input-large',
                     resource: 'prescription', name: 'alergies', url: "/prescriptions/#{@prescription.id}"}}= @prescription.alergies
    .span12
      %ul.resizer{style:'float:right'}
        %li.small
          %a{href: "#"} A
        %li.medium
          %a{href: "#"} A
        %li.large
          %a{href: "#"} A
    .span12
      %table#drugs_table.table.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th.control
            %th DRUG
            %th INSTRUCTIONS
            %th PURPOSEP
            %th AM
            %th NOON
            %th SUPPER
            %th BED-TIME
            %th.control
            %th.control
        %tbody.drugs
          - @prescription.drugs.each do |drug|
            = render partial: 'drug_row', locals: { drug: drug }
            -# {:generic_name=>drug.generic_name,
            -#          :strength_form=>drug.strength,
            -#          :brand=>drug.brand_name,
            -#          :instructions=>drug.instructions,
            -#          :purpose=>drug.purpose,
            -#          :am=>{:check=>drug.am_check,:instruction=>drug.am_time},
            -#          :noon=>{:check=>drug.noon_check,:instruction=>drug.noon_time},
            -#          :supper=>{:check=>drug.supper_check,:instruction=>drug.supper_time},
            -#          :bed_time=>{:check=>drug.bedtime_check,:instruction=>drug.bedtime_time} }
    .span12
      %p{data: {editable: true, type: 'text', inputclass: 'input-large',
                     resource: 'prescription', name: 'note', url: "/prescriptions/#{@prescription.id}"}}= @prescription.note


