- content_for :page_js do
  %script{:type => "text/javascript"}
    :plain
      $(document).ready(function(){    
    var patients_data = [];
    - @editable_patients.each do |patient|
      var patient = {"mrn": "#{patient.mrn}","name": "#{patient.name}","pharmacist": "#{patient.pharmacist_id.blank? ? '':Pharmacist.find(patient.pharmacist_id).name}","prescription_link": "#{raw((button_tag 'Edit MedList', type: 'button', onclick: 'event.stopPropagation(); location.href=\'' + edit_prescription_for_patient_path(patient) + '\'', class: 'btn btn-small btn-primary').gsub('"','\''))}","history_link": "#{patient.prescriptions.finalized.blank? ? '' : raw((button_tag('History', type: 'button', onclick: 'event.stopPropagation(); location.href=\'' + history_patient_path(patient) + '\'', class: 'btn btn-small btn-info')).gsub('"','\''))}", "link_to":"edit", "pid": "#{patient.id}"};
      patients_data.push(patient);

    - @new_patients.each do |patient|
      var patient = {"mrn": "#{patient.mrn}","name": "#{patient.name}","pharmacist": "#{patient.pharmacist_id.blank? ? '':Pharmacist.find(patient.pharmacist_id).name}","prescription_link": "#{raw((button_tag 'Start MedList', type: 'button', onclick: 'event.stopPropagation(); location.href=\'' + start_discharge_for_patient_path(patient) + '\'', class: 'btn btn-small btn-primary').gsub('"','\''))}","history_link": "#{patient.prescriptions.finalized.blank? ? '' : raw((button_tag('History', type: 'button', onclick: 'event.stopPropagation(); location.href=\'' + history_patient_path(patient) + '\'', class: 'btn btn-small btn-info')).gsub('"','\''))}", "link_to":"start", "pid": "#{patient.id}"};
      patients_data.push(patient);

    - @finalized_patients.each do |patient|
      var patient = {"mrn": "#{patient.mrn}","name": "#{patient.name}","pharmacist": "#{patient.pharmacist_id.blank? ? '':Pharmacist.find(patient.pharmacist_id).name}","prescription_link": "#{raw((button_tag 'Start MedList', type: 'button', onclick: 'event.stopPropagation(); location.href =\'' + start_discharge_for_patient_path(patient) +'\'', class: 'btn btn-small btn-primary').gsub('"','\''))}","history_link": "#{patient.prescriptions.finalized.blank? ? '' : raw((button_tag('History', type: 'button', onclick: 'event.stopPropagation(); location.href=\'' + history_patient_path(patient) + '\'', class: 'btn btn-small btn-info')).gsub('"','\''))}", "link_to":"start", "pid": "#{patient.id}"};
      patients_data.push(patient);

    :plain
      $('#patient_search').autocomplete({
                         appentTo: $(this),
                         delay: 0,
                         minLength: 0,
                         //source: drugs_data,
                         focus: function( event, ui ) {

                         },
                         select: function( event, ui ) {
                           if( ui.item.link_to == 'edit' ){
                             location.href = '/patients/' + ui.item.pid + '/edit_prescription_for';
                           }
                           else if( ui.item.link_to == 'start' ){
                             location.href = '/patients/' + ui.item.pid + '/start_discharge_for';
                           }
                         },
                         create: function( event, ui ) {
                         
                         },
                         source: function( request, response ) {
                           var term = request.term;

                           var startsWithMatcher = new RegExp("^" + term, "i")
                               , startsWith = $.grep(patients_data, function(value) {
                                   // console.log(value);
                                   return startsWithMatcher.test(value.name) || startsWithMatcher.test(value.mrn) || startsWithMatcher.test(value.pharmacist);
                                 })
                               , containsMatcher = new RegExp(term, "i")
                               , contains = $.grep(patients_data, function (value) {
                                   // console.log($.inArray(value, startsWith));
                                   return $.inArray(value, startsWith) < 0 &&
                                   ( containsMatcher.test(value.name) || containsMatcher.test(value.mrn) || containsMatcher.test(value.pharmacist) );
                                 });

                           response(startsWith.concat(contains));

                         }
                       })
                       .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                         var history_link = ((item.history_link != '') ? item.history_link : 'No history');
                         return $( "<li>" )
                                .append( "<a title='Select to " + ((item.link_to == "start") ? "start discharge":"edit") + " medlist'><b>MRN:</b> " + item.mrn +
                                         " | <b>Name:</b> " + item.name +
                                         " | <b>Pharmacist:</b> " + item.pharmacist +
                                         "<div style='text-align:left;margin-top:10px;'>" +
                                         item.prescription_link + "  " +
                                         history_link +
                                         "</div></a>" )
                                .appendTo( ul );
                       };
      });


.row
  .page-header{style:"padding-bottom:30px;margin:0 0 10px 30px;"}
    .row
      .span12.center
        %h3 Search Patients By Name/MRN/Pharmacist
      .span12.center
        = text_field_tag :patient_search, params[:patient_serch], :placeholder => "Search Patient Name, MRN, or Pharmacist", :class => "search-query span2", style: 'width: 450px;display:inline-block;padding:10px;font-size:14px;', :width => "200"

  .span12
    %h1 Patient List
  .span12
    %table.table.table-striped
      %tr.column-header
        %th 
        %th First Name
        %th Last Name
        %th MRN
        %th Date of Birth
        %th Program
        %th Admission Date
        / %th Discharge Date
        %th Pharmacist
        %th Discharge List
      - if !@editable_patients.blank?
        %tr{class: 'break'}
          %th{colspan: '9'} Patient Work List
        
      - @editable_patients.each do |patient|
        %tr{class: cycle('odd', 'even')}
          %td= link_to image_tag('edit.png'), edit_patient_path(patient), title: 'Edit Patient', rel: 'tooltip'
          %td= patient.first_name
          %td= patient.last_name
          %td= patient.mrn
          %td= patient.date_of_birth
          %td= patient.program
          %td= patient.admission_date
          / %td= patient.discharge_date
          %td= Pharmacist.find(patient.pharmacist_id).name if patient.pharmacist_id
          %td
            = link_to 'Edit MedList', edit_prescription_for_patient_path(patient), class: 'btn btn-small btn-primary'
            = link_to('History', history_patient_path(patient), class: 'btn btn-small btn-info') if !patient.prescriptions.finalized.blank?

      - if !@new_patients.blank?
        %tr{class: 'break'}
          %th{colspan: '9'} New Patients

      - @new_patients.each do |patient|
        %tr{class: cycle('odd', 'even')}
          %td= link_to image_tag('edit.png'), edit_patient_path(patient), title: 'Edit Patient', rel: 'tooltip'          
          %td= patient.first_name
          %td= patient.last_name
          %td= patient.mrn
          %td= patient.date_of_birth
          %td= patient.program
          %td= patient.admission_date
          / %td= patient.discharge_date
          %td= Pharmacist.find(patient.pharmacist_id).name if patient.pharmacist_id
          %td= link_to 'Start MedList', start_discharge_for_patient_path(patient), class: 'btn btn-small btn-primary'

      - if !@finalized_patients.blank?
        %tr{class: 'break'}
          %th{colspan: '9'} Old Patients

      - @finalized_patients.each do |patient|
        %tr{class: cycle('odd', 'even')}
          %td= link_to image_tag('edit.png'), edit_patient_path(patient), title: 'Edit Patient', rel: 'tooltip'          
          %td= patient.first_name
          %td= patient.last_name
          %td= patient.mrn
          %td= patient.date_of_birth
          %td= patient.program
          %td= patient.admission_date
          / %td= patient.discharge_date
          %td= Pharmacist.find(patient.pharmacist_id).name if patient.pharmacist_id
          %td
            = link_to 'New MedList', start_discharge_for_patient_path(patient), class: 'btn btn-small btn-primary'
            = link_to('History', history_patient_path(patient), class: 'btn btn-small btn-info') if !patient.prescriptions.finalized.blank?

    %br
    
    = link_to 'New Patient', new_patient_path, class: 'btn btn-success'
