.row
  .span12
    %h1 Patient List
  .span12
    %table.table.table-striped
      %tr.column-header
        %th First Name
        %th Last Name
        %th MRN
        %th Date of Birth
        %th Program
        %th Admission Date
        / %th Discharge Date
        %th Pharmacist
        %th Discharge List
      - @patients.each do |patient|
        %tr{class: cycle('odd', 'even')}
          %td= patient.first_name
          %td= patient.last_name
          %td= patient.mrn
          %td= patient.date_of_birth
          %td= patient.program
          %td= patient.admission_date
          / %td= patient.discharge_date
          %td= Pharmacist.find(patient.pharmacist_id).name if patient.pharmacist_id
          %td= link_to 'Create MedList', start_discharge_for_patient_path(patient), class: 'btn btn-small btn-primary'


    %br

    = link_to 'New Patient', new_patient_path, class: 'btn btn-success'
