.row
  .span12
    %h3 Select from one of the basic templates

  .span12
    %table.table.table-striped
      %tr.column-header
        %th Name
        %th Total Drugs
        %th Created At
        %th Last Updated At
        %th Program
        %th 

      - @base_templates.each do |template|
        %tr{class: cycle('odd', 'even')}
          %td= template.name
          %td= template.drugs.length
          %td= template.created_at
          %td= template.updated_at
          %td= template.program
          / For some reason get request did not render javascript for this page
          %td= link_to 'Select', create_prescription_for_patient_path(@patient,template_id: template.id), class: 'btn btn-small btn-primary', method: :post


  - if !@patient_history.blank?
    .span12
      %h3 Select template from patient history
      
    .span12
      %table.table.table-striped
        %tr.column-header
          %th Program
          %th Total Drugs
          %th Last Updated At
          %th Pharmacist
          %th Physician
          %th
        - @patient_history.each do |pres|
          %tr{class: cycle('odd','even')}
            %td= pres.patient.program
            %td= pres.drugs.count
            %td= pres.updated_at
            %td= pres.pharmacist.name
            %td= pres.physician
            %td= link_to 'Select', create_prescription_for_patient_path(@patient, prescription_id: pres.id), class: 'btn btn-small btn-primary', method: :post
          
